{% extends "base.html" %}

{% block titulo %}Propiedades disponibles{% endblock %}

{% block contenido %}

		Propiedades disponibles para alquilar:<br /><br />
		<table border=1>
			<tr>
				<td>
					Descripcion
				</td>
				<td>
					Precio Diario
				</td>
				<td>
					Imagen
				</td>
				<td>
					Titulo
				</td>
				<td>
					Numero Ficha
				</td>
				<td>
					Max Pax
				</td>
				<td>
					Fecha Disponible
				</td>
				<td>
					Ubicacion
				</td>
				<td>
					Fecha Reserva
				</td>
				<td>
					Anfitrion
				</td>
			</tr>
			{% for prop in propiedades %}
			<tr>
				<td>{{ p.descripcion }}</td>
				<td>{{ p.precio_diario }}</td>
				<td>{{ p.imagen }}</td>
				<td>{{ p.titulo }}</td>
				<td>{{ p.numero_ficha }}</td>
				<td>{{ p.max_pax }}</td>
				<td>{{ p.fecha_alquileres }}</td>
				<td>{{ p.ciudad }}</td>
				<td>{{ p.reserva }}</td>
				<td>{{ p.anfitrion }}</td>
			</tr>
			{% endfor %}
		</table>

{% endblock %}